<div class="workexp">
  <mat-card class="jobsEvertz">
    <mat-card-title> Application Engineer </mat-card-title>
    <mat-card-subtitle> Evertz Microsystems </mat-card-subtitle>
    <mat-card-subtitle> Feb 2019 - Present </mat-card-subtitle>
    <mat-list>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Product Specialist for an Elastic Stack based Data analytics product
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Responsible for setting up customer system and configure data ingestion
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Experience leading technical discussion with internal and external
        stakeholders
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Providing on-site training and technical solutions based on customer's
        unique requests
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Built python scripts to aggregate data from Elasticsearch
      </mat-list-item>
      <mat-card class="mean">
        <mat-card-title class="meanTitle"> MEAN Stack Web Form </mat-card-title>
        <!-- <mat-card-subtitle>  </mat-card-subtitle> -->
        <mat-card-subtitle> April 2021 - Present </mat-card-subtitle>
        <mat-list-item class="meanItem">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >arrow_right</mat-icon
          >
          Web Form built using Angular, Nodejs & MongoDB using MVC architecture
        </mat-list-item>
        <mat-list-item class="meanItem">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >arrow_right</mat-icon
          >
          Form takes project info from user(Name, Customer, List of Devices,
          Submitter's Info)
        </mat-list-item>
        <mat-list-item class="meanItem">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >arrow_right</mat-icon
          >
          Winston logger used in Nodejs for collecting logs in a dedicated file
        </mat-list-item>
      </mat-card>
    </mat-list>
  </mat-card>

  <mat-card class="jobs">
    <mat-card-title> Software Developer </mat-card-title>
    <mat-card-subtitle> Tata Consultancy Service </mat-card-subtitle>
    <mat-card-subtitle> Jun 2017 - Feb 2019 </mat-card-subtitle>
    <mat-list>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Developed Nodejs web app & Android app using Agile Scrum methodology in
        a team of 5
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Integrated account management feature using Node with MongoDB
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Automated Excel Form using VBA with validation and upload to Oracle DB
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Conducted API testing using Postman to add and authenticate user
        credentials
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="jobs">
    <mat-card-title> Software Designer Intern </mat-card-title>
    <mat-card-subtitle> Husky Injection Molding Systems </mat-card-subtitle>
    <mat-card-subtitle> May 2015 - Aug 2016 </mat-card-subtitle>
    <mat-list>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Worked on daily Human Machine Interface projects for Polaris and Legacy
        machines
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Successfully tested software on HMI & PLC simulators before delivery
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_right</mat-icon
        >

        Developed a VBA scheduling tool as a Macro to track weekly projects
        using a color-code scheme
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
