<div class="content">
  <div class="imgHolder">
    <div class="travel">
      <img alt="travel" src="../assets/images/traveling.png" />
      <div class="middle">
        <div class="text">Love traveling - Hawaii, Banff, California</div>
      </div>
    </div>
  </div>
</div>

<div class="content2">
  <div class="imgHolder">
    <div class="travel">
      <img alt="travel" src="../assets/images/basketball.png" />
      <div class="middle2">
        <div class="text2">Love basketball, Giannis is my Fav player</div>
      </div>
    </div>
  </div>
  <h3>PASSION</h3>
  <div class="imgHolder">
    <div class="travel">
      <img alt="travel" src="../assets/images/development.png" />
      <div class="middle3">
        <div class="text3">Love to Code and build cool apps</div>
      </div>
    </div>
  </div>
</div>
