<div class="projects">


    <ul>
        <li>
            <img class="calc" src="../../assets/images/feelslike_weather.png"/>
        </li>
        <li>
            <mat-card class="projectCard">
                <mat-card-title>
                    Feels Like - Angular App with Nodejs
                    
                </mat-card-title>
                 <!-- <mat-card-subtitle>
                    Feb 2020 - March 2020
                </mat-card-subtitle>-->
                   <mat-card-subtitle>
                    <a href='https://feelslike-7d01f.web.app/'>
                        <img alt='Get it on Google Play' src='../../assets/images/feelslike.png' style="width: 11%;"/></a>
                   </mat-card-subtitle>
                <mat-list>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Backend developed using Nodejs and it's live on Heroku                     
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Designed in Adobe XD and implemented in SASS                     
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Gained strong understanding of sending HTTP request to backend and parsing response JSON data to front-end                     
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Storing most recent searched city in cookies                     
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Understood SASS styling in much more depth to achieve the seen effects
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </li>
    </ul>

    <ul>
        <li>
            <img class="calc" src="../../assets/images/weatherkt.png"/>
        </li>
        <li>
            <mat-card class="projectCard">
                <mat-card-title class="cardTitle">
                    Weather - Kotlin Android App
                    
                </mat-card-title>
               <!-- <mat-card-subtitle>
                    Feb 2020 - March 2020
                </mat-card-subtitle>-->
                <mat-card-subtitle>
                <a href='https://play.google.com/store/apps/details?id=com.mp.weatherapp&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' style="width: 22%;"/></a>
                </mat-card-subtitle>
                <mat-list>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Weather app showing current and 5-day Forecast                    
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Object animation used for weather refresh effect                     
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Weather data pulled using OkHttp from open-source API                     
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </li>
        
    </ul>

    <ul>
        <li>
            <img class="calc" src="../../assets/images/calculator.png"/>
        </li>
        <li>
            <mat-card class="projectCard">
                <mat-card-title class="cardTitle">
                    Calculator - Kotlin Android App
                    
                </mat-card-title>
               <!-- <mat-card-subtitle>
                    Feb 2020 - March 2020
                </mat-card-subtitle>-->
                <mat-card-subtitle>
                <a  href='https://play.google.com/store/apps/details?id=com.mp.calculator&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img class="href" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
                    style="width: 22%;"
                    />
                </a>
                </mat-card-subtitle>
                <mat-list>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Simple calculator app built using Kotlin with Android Studio                   </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Built strong foundation of Kotlin's mutable lists and linear layout
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Deployed using Android App Bundle on playstore                     </mat-list-item>
                </mat-list>
            </mat-card>
        </li>
        
    </ul>
    

    <ul>
        <li>
            <img class="calc" src="../../assets/images/nuuz.png"/>

        </li>
        <li>
            <mat-card class="projectCard">
                <mat-card-title>
                    Nuuz - Flutter Android App
                    
                </mat-card-title>
                 <!-- <mat-card-subtitle>
                    Feb 2020 - March 2020
                </mat-card-subtitle>-->
                <mat-card-subtitle>
                    <a  href='https://play.google.com/store/apps/details?id=com.mp.nuuz&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img class="href" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
                        style="width:22%;"
                        /></a>
                </mat-card-subtitle>
                
                <mat-list>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Simpliﬁed news app with latest headlines from Canada and USA                     </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Headlines retrieved from open-source REST API and integrated in Dart
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Helped built strong foundation on how to integrate data from API into Dart
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </li>
    </ul>
    

    <ul>
        <li>
            <img class="calc" src="../../assets/images/buzr.png"/>
        </li>
        <li>
            <mat-card class="projectCard">
                <mat-card-title>
                    Buzr - Flutter Android App
                    
                </mat-card-title>
                 <!-- <mat-card-subtitle>
                    Feb 2020 - March 2020
                </mat-card-subtitle>-->
                <mat-card-subtitle>
                    <a  href='https://play.google.com/store/apps/details?id=com.mp.buzr&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img  class="href" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
                        style="width:22%;"
                        /></a>
                </mat-card-subtitle>
                
                <mat-list>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Timer app that allows user to build custom timers on intervals of their choice                     </mat-list-item>
                        <mat-list-item>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                            If a user wants a timer that goes off every hour between 9am and 5pm from Monday to Friday
                        </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Gained better understanding of multiple screens and how data is shared
                    </mat-list-item>
                    
                </mat-list>
            </mat-card>
        </li>
    </ul>

    
    <ul>
        <li>
            <img class="calc" src="../../assets/images/portfolio.png"/>
        </li>
        <li>
            <mat-card class="projectCard">
                <mat-card-title>
                    Portfolio - Angular App
                    
                </mat-card-title>
                 <!-- <mat-card-subtitle>
                    Feb 2020 - March 2020
                </mat-card-subtitle>-->
                   <mat-card-subtitle>
                    <a href="https://github.com/pandyama/">
                        <mat-icon class="git" svgIcon="Github" style="width: 100px;"></mat-icon>
                    </a>
                   </mat-card-subtitle>
                <mat-list>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Built this web app using Angular with Material theme
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Styling done using SASS and used external JS for active button effect
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Helped build strong understanding of Angular Routing
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right</mat-icon>
                        Understood SASS styling in much more depth to achieve the seen effects
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </li>
    </ul>

    
</div>
