<div class="projects">
   <!-- <mat-card class="projects">
        <mat-icon> email</mat-icon>
        
            pandyama2@gmail.com
        
    </mat-card>
    <mat-card class="projects">
        <mat-card-title>
            Phone
        </mat-card-title>
        <mat-card-subtitle>
            +1 647-962-9872
        </mat-card-subtitle>
    </mat-card>
    <mat-card class="projects">
        <mat-card-title>
            Github
        </mat-card-title>
        <mat-card-subtitle>
            https://github.com/pandyama
        </mat-card-subtitle>
    </mat-card>
    <mat-card class="projects">
        <mat-card-title>
            Android Apps
        </mat-card-title>
        <mat-card-subtitle>
            https://play.google.com/store/apps/developer?id=Meet+Pandya
        </mat-card-subtitle>
    </mat-card> -->

    <ul>
        <li>
            <mat-list>
                <mat-list-item>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                    pandyama2@gmail.com
                </mat-list-item>
            </mat-list>
        </li>

        <li>
            <mat-list>
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Example home icon">local_phone</mat-icon>            +1 647-962-9872
            </mat-list-item>
            
        </mat-list>
        </li>
    </ul>
    
        
        


</div>