
<header class="header">
  <h2>Meet Pandya</h2>
  <nav>
    <ul >
      <li class="btn">
        <a (click)="onClick()" routerLink="about">About</a>
      </li>
      <li class="btn">
        <a (click)="onClick()" routerLink="workexp">Work</a>
      </li>
      <li class="btn">
        <a (click)="onClick()" routerLink="projects">Projects</a>
      </li>
      <li class="btn">
        <a (click)="onClick()" routerLink="contact">Contact</a>
      </li>
    </ul>
  </nav>


</header>

<router-outlet></router-outlet>
