
<header class="header">
  <h2>MEET PANDYA</h2>
  <nav>
    <ul >
      <li class="btn active">
        <a (click)="onClick()" routerLink="about">About</a>
      </li>
      <li class="btn">
        <a (click)="onClick()" routerLink="workexp">Work</a>
      </li>
      <li class="btn">
        <a (click)="onClick()" routerLink="projects">Projects</a>
      </li>
      <li class="btn">
        <a (click)="onClick()" routerLink="contact">Contact</a>
      </li>
      <!--<svg class="Path_1" xmlns="http://www.w3.org/2000/svg" width="759.551" height="391.189" viewBox="0 0 759.551 391.189">
        <path id="Path_1" data-name="Path 1" d="M-1394.82-583.049c195.975,357,616.958,363.323,616.958,363.323S-1185.2-185.8-1401.094-223.62c-103.077-18.055-157.6-60.445-114.373-115.1C-1381.217-508.473-1394.82-583.049-1394.82-583.049Z" transform="translate(-621.283 -178.437) rotate(179)" fill="#2f2fa2" stroke="#707070" stroke-width="1"/>
      </svg>-->
      <!--<li>
        <img src="../assets/images/Path 1.svg"/>
      </li>-->
    </ul>
  </nav>


</header>



<router-outlet></router-outlet>
  <!--
  <mat-card class="titleCard" >
    <mat-card-header>
      <mat-card-title>Meet Pandya</mat-card-title>
      <mat-card-subtitle>Application Engineer</mat-card-subtitle>
      <mat-card-subtitle>B.A.Sc - Computer Science</mat-card-subtitle>
      <mat-card-subtitle>McMaster University Class of 2017</mat-card-subtitle>
      <mat-card-subtitle>Hamilton, Canada</mat-card-subtitle>
    </mat-card-header>
    <img class="pic" src='assets/images/mp_new.PNG'/>

    <div class="matbtn2">
      <a class="href" href='https://play.google.com/store/apps/developer?id=Meet+Pandya&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        
        <img style="width: 26%;" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' alt='Get it on Google Play'>
        
        
      </a>
      <a class="href" href='https://www.linkedin.com/in/meet-pandya-55966a80/'>
        
        <img src='../assets/images/linked.png' style="width: 11%;" alt="Linked In">
        
        
      </a>
      <a  class="href" href="https://github.com/pandyama/" target="_blank">
        
        <img style="width: 10%;" src='../assets/images/git2.png' >
        
        
        </a>
    </div>
  </mat-card>


  

  <div class="matbtn">
    <button mat-raised-button color="primary" routerLink="about">About Me</button>
    <button mat-raised-button color="primary" routerLink="workexp">Professional Experience</button>
    <button mat-raised-button color="primary" routerLink="projects">Projects</button>
    <button mat-raised-button color="primary" routerLink="contact">Contact</button>
</div>

  -->
